
.highlight {
    color: $monkey-earth;
    display: inline;
    a& {
        border-color: $monkey-earth;
    }
}

.header__link,
.header__link:visited {
    color: $white;
    border-color: $white;
    &:hover,
    &:active {
        color: $black;
        border-color: $black;
    }
}

.intro {
    background-image: url(/images/background.jpg);
    background-image: url(/images/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    padding-bottom: 3em;

    &__subheader,
    &__header {
        @include textshadow;
        color: $white;
        margin-bottom: .75em;
    }
    &__subheader--link,
    &__subheader--link:visited {
        color: $monkey-earth;
        border-color: $monkey-earth;
    }
    &__cta {
    }
}

.exp-bingo {
    @extend .row;

    background: $monkey-earth;
    color: $black;
    text-align: center;

    &__form {
        &__label {
            font-size: $font-size-default;
            line-height: 1.2;
            display: inline-block;
            @include mappy-bp(medium) {
                font-size: $font-size-large;
            }
            @include mappy-bp(xlarge) {
                font-size: $font-size-xlarge;
            }
        }

        &__input {
            background: rgba(255, 255, 255, .5);
            font-size: 100%;
            padding: 10px;
            margin: 0;
            margin-right: 10px;
            border: 0;
            border-bottom: 4px solid #FFF;
            position: relative;
            width: 200px;
            text-align: center;
            @include mappy-bp(medium) {
                text-align: left;
                padding: 15px;
                margin-left: 10px;
                width: 300px;
            }
            @include mappy-bp(xlarge) {
                width: 450px;
                padding: 20px;
            }
        }
    }

    &__answer {
        @include clearfix;
        @include span(12 of 12);
        float: none;
        margin: 1em auto;
        font-size: $font-size-large;
        background: rgba(255, 255, 255, .5);
        color: $black;

        &__title {
            width: 100%;
            color: $black;
            padding: .5em;
            font-size: 150%;
        }
        &__descr {
            padding: 10px;
            font-size: 75%;
            @include mappy-bp(medium) {
                text-align: justify;
                font-size: 100%;
            }
        }

        @include mappy-bp(large) {
            @include span(8 of 12);
            float: none;
        }

        @include mappy-bp(xlarge) {
            @include span(6 of 12);
            float: none;
        }
    }
}

footer {
    text-align: center;
    padding-top: 1em;

}
