
.highlight {
    color: $pink;
    display: inline;
    a& {
        border-color: $pink;
    }
}

.btn {
    text-decoration: none;
    display: inline-block;
    border-bottom: 0;
    padding: 10px 20px;
    text-align: center;
    background: $white;
    color: $green;
    &:hover {
        border-bottom: 0;
        background: $yellow;
        color: $green;
    }
}

.header {
    background: $black;
    color: $pink;
    .header__link,
    .header__link:visited {
        color: $pink;
        border-color: $pink;
        &:hover,
        &:active {
            color: $white;
            border-color: $white;
        }
    }
}

.intro {
    &__subheader,
    &__header {
        color: $white;
        margin-bottom: .75em;
        text-shadow: 0px 0px 100px rgba(0, 0, 0, 1);
    }
    &__subheader--link,
    &__subheader--link:visited {
        color: $yellow;
        border-color: $yellow;
    }
    &__cta { }
}
