body {
    color: $yellow;
}

h1 {
    font-size: em(40);
    line-height: 1.2;
    @include mappy-bp(medium) {
        font-size: em(80);
    }
    @include mappy-bp(xlarge) {
        font-size: em(140);
    }
}

a {
    text-decoration: none;
    border-bottom: 1px solid $white;
    color: $white;
    @include transition(color 100ms linear);
}

input {
    height: 1.2em;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0);
}
