body {
    color: $white;
}

h1 {
    font-size: $font-size-large;
    line-height: 1.2;
    @include mappy-bp(medium) {
        font-size: $font-size-xlarge;
    }
    @include mappy-bp(xlarge) {
        font-size: $font-size-xxlarge;
    }
}

a {
    text-decoration: none;
    border-bottom: 1px solid $white;
    color: $white;
    @include transition(color 100ms linear);
}

input {
    line-height: 1.2;
    background-color: rgba(255, 255, 255, 0);
    &[type=submit] {
        border: 0;
    }
    &[type=text],
    &[type=email],
    &[type=password] {
        color: $black;
    }

}
header {
    min-height: 60px;
    padding: 20px;
    background: $monkey-stone;
    color: $black;
}

footer {
    text-align: center;
    padding-top: 1em;
    p {
        line-height: 2;
    }
}
