.content {
    margin-left: 0;

}
.row {
    padding: 3em 1em;
}
.icon {
    width: 32px;
    height: 32px;
    display: inline-block;
}
.btn {
    line-height: 1.5;
    text-decoration: none;
    display: inline-block;
    border: 0;
    padding: 10px 20px;
    text-align: center;
    background: $monkey-red;
    color: $white;

    @include mappy-bp(medium) {
        font-size: $font-size-default;
    }
    @include mappy-bp(xlarge) {
        font-size: $font-size-large;
    }

    &:hover {
        border-bottom: 0;
        background: $white;
        color: $black;
    }
}
