$susy: (
    columns: 12,
    gutters: .25,
    gutter-position: inside
);
$breakpoints: (
    'small': 320px,
    'medium': 760px,
    'large': 960px,
    'xlarge': 1280px
);
$white: #FFFFFF;
$black: #000000;
$yellow: #E6AF4B;
$red: #E05038;
$pink: #F2CBBC;
$green: #334431;

$monkey-earth: #C9C7AF;
$monkey-blue: #4387B5;
$monkey-purple: #6157D4;
$monkey-stone: #7D7870;
$monkey-red: #A14C10;

$font-size-small: em(22);
$font-size-default: em(24);
$font-size-large: em(40);
$font-size-xlarge: em(80);
$font-size-xxlarge: em(160);
