extends layout

block header
    ul.header__list
        li.header__list-item
            a.header__link.header__link--linkedin(href="https://www.linkedin.com/in/martijngorree", target="_blank") LinkedIN
        li.header__list-item
            a.header__link.header__link--codementor(href="https://www.codementor.io/martijngorree", target="_blank") Codementor
        li.header__list-item
            a.header__link.header__link--github(href="https://github.com/martijngorree/martijngorree.com", target="_blank") Github
        li.header__list-item
            a.header__link.header__link--facebook(href="https://www.facebook.com/martijngorree", target="_blank") Facebook
        li.header__list-item
            a.header__link.header__link--twitter(href="https://twitter.com/martijngorree", target="_blank") Twitter
        li.header__list-item
            a.header__link.header__link--flickr(href="https://www.flickr.com/photos/martijngorree", target="_blank") Flickr

block content

    .row.intro
        h1.intro__header
            | Hello, my name is 
            .highlight 
                | Martijn Gorree 
            | and I am a full stack 
            .highlight 
                | developer.
        h2.intro__subheader
            | Currently playing arround at 
            a.intro__subheader--link.highlight(href="http://www.fabrique.nl", target="_blank") Fabrique [merken, design & interactie]
        
        a.intro__cta.btn(href="mailto:m@rtijngorree.nl", rel="nofollow") 
            | Write me something
    
    #skillWidget.exp-bingo.row

        form.exp-bingo__form.js-form(method="get", action="?")
            .input-group
                label.exp-bingo__form__label
                    | Can Martijn do:
                    input.exp-bingo__form__input(type="text", name="skill", placeholder="something")
                    | ?

        .exp-bingo__answer.js-answer
            
            
